<div id="user" class="container">
  <style>
    img {width:100%;
         max-width:250px;}
  </style>
  <div>
    Username: <%= @user.nickname %>
  </div>
  <div>
    Email: <%= @user.email %>
  </div>
  <div>
    Bio: <%= @user.bio %>
    <% if @user.id == current_user.id %>
      <% if !@user.steam_id %>
        <li><%= link_to 'Log In via Steam', '/auth/steam' %></li>
      <% end %>
      <%= form_tag "/users/#{@user.id}", method: :put do %>
        <%= text_field_tag :bio, @user.bio %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= submit_tag "Edit bio"%>
      <% end %>
    <% end %>
  </div>
  <div class="container-fluid">
    <h4>Currently playing:</h4>
      <% @user.games.order(updated_at: :asc).each_slice(3) do |games| %>
        <div class="row">
        <% games.each do |game| %>
          <div class="col-md-offset-4 col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="<%= game.image_url %>" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><%= link_to game.title, game %></p>
                <% if current_user.id == @user.id %>
                 <%= button_to "Delete", "/user_games/#{UserGame.find_by(user_id: @user.id, game_id: game.id).id}", :method=> "delete" %>

                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
</div>

